{% extends 'base.html' %}

{% block title %}Saturn Investments - Inicio{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="mt-4">Bienvenido a Saturn Investments</h1>
        <p>Este proyecto analiza el impacto de eventos económicos en mercados financieros, incluyendo Forex, Commodities, Equities, Interest Rates y Cryptocurrencies.</p>
        <div class="mt-4">
            <p>Selecciona un mercado desde el menú desplegable para explorar datos, realizar análisis y visualizar tendencias.</p>
        </div>
    </div>
</div>
{% endblock %}