{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Iniciar Sesión</h1>
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Tu nombre de usuario y contraseña no coinciden. Por favor, intenta de nuevo.
        </div>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Nombre de usuario:</label>
            <input type="text" name="username" id="id_username" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="id_password">Contraseña:</label>
            <input type="password" name="password" id="id_password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
</div>
{% endblock %}